<div *ngIf="betResult.payout > 0" class="card text-white bg-success">
    <div class="row">
        <div class="col-md-4">
            <img src="https://thumbs.dreamstime.com/t/money-pile-17968716.jpg" class="card-img" alt="YouWin"/>
        </div>        
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">You Win!</h5>
            </div>
            <p class="card-text">Bet on: {{betResult.betOn ? "Heads" : "Tails"}}, Result: {{betResult.flipResult ? "Heads" : "Tails"}} {{"YOU WIN! +" + web3.utils.fromWei(betResult.payout) + " ETH"}}</p>
            <p class="card-text"><small>#{{betResult.id}}</small></p>
        </div>
    </div>    
</div>
<div *ngIf="betResult.payout == 0" class="card text-white bg-secondary">
    <div class="row">
        <div class="col-md-4">
            <img src="http://clipartmag.com/images/empty-pockets-clipart-5.jpg" class="card-img" alt="TryAgin"/>
        </div>
        <div class="col-md-8">
            <div class="card-body">                
                <h5 class="card-title">Try Again</h5>
            </div>
            <p class="card-text">Bet on: {{betResult.betOn ? "Heads" : "Tails"}}, Result: {{betResult.flipResult ? "Heads" : "Tails"}}</p>
            <p class="card-text"><small>#{{betResult.id}}</small></p>
        </div>
    </div>    
</div>
