<div class="p-2">
    <div class="form-group" [formGroup]="betForm">
        <h4>Place Your Bet</h4>
        <div class="form-group row">
            <label class="col-form-label col-sm-3">Bet (Min: {{web3.utils.fromWei(minBet)}} Max: {{web3.utils.fromWei(maxBet)}})</label>
            <div class="col-sm-2">
                <input type="range" class="form-control" formControlName="betAmount" placeholder="Bet Amount" [min]="web3.utils.fromWei(minBet)" [max]="web3.utils.fromWei(maxBet)" step="0.001" value="0.001">
            </div>        
            <label class="col-form-label col-sm-2">{{betForm.value.betAmount}} ETH</label>
            <div class="form-group col-sm-2">
                <select class="form-control" formControlName="betOn">
                    <option value="false">Heads</option>
                    <option value="true">Tails</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="placeBet()">Flip Coin!</button>
    </div>
    <div id="message">{{message}}</div>
    <div *ngFor="let r of betResults">Bet on: {{r.betOn ? "Heads" : "Tails"}}, Result: {{r.flipResult ? "Heads" : "Tails"}} {{r.flipResult ? "YOU WIN! +" + web3.utils.fromWei(r.payout) + " ETH": "Try again"}}</div>
</div>